<div class="map-wrapper">

  <!-- LEFT / LISTING -->

  <div class="left-listing">


    <div class="left-header">
      <h2>The island experience, made easy.</h2>
        
          <div class="d-flex justify-content-between">
            <%= form_tag islands_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Search...",
        style: "width: 400px; padding: 2px"
      %>
      <%= submit_tag "Find your island", class: "btn btn-primary" %>
    <% end %>
          </div>
    </div>

    <div class="cards map-cards">
      <% @islands.each do |island| %>
        <div class="card-trip">
          <img src='<%= cl_image_path island.photos.first.key %>' alt="<%= island.name %>" />
          <div class="card-trip-infos">
            <div>
              <h2><%= link_to island.name, island_path(island) %></h2>
              <p><%= island.description %></p>
            </div>
            <h2 class="card-trip-pricing">€ <%= island.price_per_night %> / night</h2>
          </div>
        </div>
      <% end %>
    </div>

  </div>

  <!-- RIGHT / MAP -->

    <div  id="map"
          style="width: 100%; height: 100vh;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

    <!-- <img src="https://www.researchgate.net/profile/Paul-Baruya/publication/324414241/figure/fig1/AS:613878748680214@1523371507777/Map-of-the-Philippines.png" alt="" style="min-height: 100vh; max-width: 550px;"> -->



</div>
