<div class="map-wrapper">

  <!-- LEFT / LISTING -->

  <div class="left-listing">


    <div class="left-header w-100 mx-auto">
      <h2 class="mb-3 text-center">The island experience, made super easy.</h2>

        <div class="d-flex search-box justify-content-center">
            <div class="searchbar text-align-center position-relative">
              <%= form_tag islands_path, method: :get do %>
                <%= text_field_tag :query,
                  params[:query],
                  class: "form-control white-bar b-sh text-center",
                  placeholder: "Where are you dreaming of...?",
                  style: "width: 540px; padding: 2px"
                %>
              <%= button_tag(type: "submit", class: "btn icon-primary mt-2 position-absolute", style: "top: -9px; right: -1px") do %>
                <i class="fas fa-search"></i> 
              <% end %>
              <% end %>
            </div>
          </div>

    </div>

    <div class="cards map-cards">
      <% @islands.each do |island| %>
        <div class="card-trip">
          <img src='<%= cl_image_path island.photos.first.key %>' alt="<%= island.name %>" />
          <div class="card-trip-infos">
            <div>
              <h3><%= link_to island.name, island_path(island) %></h3>
              <h2 class="card-trip-pricing">€ <%= island.price_per_night %> / night</h2>
              <p><%= island.description %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  </div>

  <!-- RIGHT / MAP -->

    <div  id="map"
          style="width: 100%; height: 100vh;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

    <!-- <img src="https://www.researchgate.net/profile/Paul-Baruya/publication/324414241/figure/fig1/AS:613878748680214@1523371507777/Map-of-the-Philippines.png" alt="" style="min-height: 100vh; max-width: 550px;"> -->



</div>
