<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-6">
    
    <h2>Add a new Island</h2>

    <%= simple_form_for(@island) do |f| %>

    <div class="form-inputs">
      <%= f.input :name,
                  required: true,
                  autofocus: true %>
      <%= f.input :location,
                  required: true,
                  autofocus: true %>
      <%= f.input :description,
                  required: true,
                  autofocus: true %>
      <%= f.input :capacity,
                  required: true,
                  autofocus: true %>
      <%= f.input :facilities,
                  required: true,
                  autofocus: true %>
      <%= f.input :access,
                  required: true,
                  autofocus: true %>
      <%= f.input :price_per_night,
                  required: true,
                  autofocus: true %>
      <%= f.input :photos, input_html: { class: 'd-none', id: 'photo-input' },
                  label_html: { class: 'upload-photo'},
                  label: '📷 Upload a photo'%>
    </div>

    <%= image_tag "", width: 300, class: "hidden mb-5", id: "photo-preview" %>

    <div class="form-actions">
      <%= f.button :submit, "Submit", class: "btn btn-primary" %>
    </div>
    <% end %>

    </div>
  </div>
</div>

<%= render 'shared/footer' %>