
<div class="container">
  
  <div class="featured-islands">
    <h2 class="text-center margin-fix">Featured islands</h2>
    <div class="cards-grid p-5">
      <% @islands.each do |island| %>
          <%= link_to island_path(island) do %>
            <div class="card-island">

              <%= cl_image_tag island.photo.key%>
              
              <div class="card-island-infos">
                <div>
                  <h2><%= island.name %></h2>
                  <p><%= island.description %></p>
                </div>
                <h4>€<%= island.price %>/day</h4>
              </div>
            </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>