<nav class="navbar navbar-default navbar-static-top">
  <div class="container d-flex justify-content-between">
  
        <div class="navbar-header">
          <button type="button" class="border-0 navbar-toggle collapsed mr-auto bg-fafafa">
          </button>

         <%= link_to root_path do %> 
           <p class="navbar-brand">Islands Hopper</p>
          <% end %>
        </div>
      <div>
      
  <div class="btn-group" id="navbar">
   <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     <% if (user_signed_in?) %>
      <%= cl_image_tag current_user.avatar.key, class: "nav-avatar" %>
      <% else %>
        <img src="https://www.flaticon.com/svg/vstatic/svg/1738/1738691.svg?token=exp=1615383963~hmac=52512451ba25016029a577a45c483306" class="nav-avatar" alt="">
      <% end  %>
    </button>

    <div class="dropdown-menu">
       <% if (!user_signed_in?) %>
      <a class="dropdown-item" href="#"><%= link_to 'Log In', new_user_session_path %></a>
      <a class="dropdown-item" href="#"> <%= link_to 'Sign Up', new_user_registration_path %></a>
      <% else %>
      <a class="dropdown-item"><%= link_to 'Dashboard', dashboard_path %></a>
      <a class="dropdown-item"><%= link_to 'Edit Profile',edit_user_registration_path %></a>
      <a class="dropdown-item"> <%= link_to 'Log Out',destroy_user_session_path, method: :delete %></a>
      <%end %>
    </div>
  </div><!--/.nav-collapse -->
        </div>
</div>
</nav>


